<div class="col-md-4 col-md-offset-4" style="margin-top: 80px;padding:13px;background-color:#31708f">
  <h3>用户注册</h3>
  <%= render 'form' %>
</div>

<% content_for :body do %>
   <%"background-color: rgb(80, 75, 75);"%>
<% end %>


<% content_for :nav do %>
   <%"border:none;background: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(rgb(60, 53, 53)));"%>
<% end %>
