/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datetimepicker.min
 *= require bootstrap
 *= require_tree .
  *= require fullcalendar_engine/application
*/

 .padding-top {
 	margin-top: 60px;
 }

 .padding-label label {
 	padding-top: 6px;
 }

 .reservation-confirm {
 	background-color: rgb(231, 230, 230);
 	height: 400px;
    padding: 60px;
    padding-left: 70px!important;
    border-radius: 12px;
    margin-top: 50px;
    font-size: 25px;
    line-height: 36px;
 }

 .float-left {
 	float: left;
 }

 .margin-top-5 {
 	margin-top: 5px !important;
 }

 .margin-top-100 {
 	margin-top: 100px !important;
 }