// Place all the styles related to the instruments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new_instrument label.control-label {
  padding-top: 8px;
  width: 130px;
}

.edit_instrument label.control-label {
  padding-top: 8px;
  width: 130px;
}

.instrument-status-0 {
	background-color: #5396fc;
}

.instrument-status-0 td a {
	text-decoration: none;
	color: #404347;
}

.instrument-status-0 td a:hover {
	background-color: #5396fc;
	color: black;
}

.margin-top-20 {
	margin-top: 20px;
}

