// Place all the styles related to the instruments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.col-md-4 input {
  margin-top: 20px;
}


.col-md-4 textarea {
  margin-top: 20px;
}

label.control-label {
  padding-top: 31px;
  width: 130px;
}
